* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logobox>img, .logo2>img{
    height: 60px;
    width:130px;   
}

.roundbuttonbox{
    border-radius: 108px 108px 108px 108px;
    background-color: white;
    color: black;
    padding: 15px;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
}

.arrowdown{
    font-size: 30px;
    margin-right: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.containerazzurro{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 70vh;
}
/* Header */
header{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.5rem;
    color: white;
}

.logobox{
    width: 1300px ;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.logobox2{
    display: flex;
    width: 1184px;
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.linkbox{
    text-align: center;
    width: 1952px;   
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}


/* Container blue */

.containerblue{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
/* Container rosa */
.pinkcontainer{
    text-align: center;
    height: 70%;
    width: 1184px;
    color: white;
}

.pinkcontainer>h1, .c2box2>h1{
    font-size: 40px;
    margin-bottom: 20px;
    margin-block-start: 0.20em;
    margin-block-end: 0.20em;
}

p{
    font-size: 20px;
}

.black{
    background-color: black;
    color: white;
}

.margindiv{
    margin-top: 30px;
}

/* 2° blocco */

.container2{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.c2box{
    height: 80%;
    width: 800px;
}

.c2box.secondoblocco>img{
    position:relative;
    left: 100px;
}

.c2box2{
    height: 80%;
    width: 600px;
    padding: 25px;
}

.cgrigio{
    background-color: #F6F6F6;
}

/* 3-5 blocco */

.container3{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocco3{
    margin-left: 200px;
}

.c3box{
    height: 90%;
    width: 1400px;
    text-align: center;
    padding: 50px;
}

.starsbox{
    display: flex;
    justify-content: center;
    background-image: url(../img/stars.svg);
    background-size: contain;
    width: 700px;
    margin-left: 300px;
    height: 60px;
    flex-direction: column;
    align-items: center;
}

span.viola{
    display: inline-block;
    margin-top:50px ;
    background-color: #7289DA;
    font-size: 25px;
    color: white;
}

/* 6° blocco */

.container-obsidian{
    display: flex;
    height: 60vh;
    justify-content: center;
    background-color: #23272A;
}

.c4box{
    height: 90%;
    width: 367px;
    margin-top: 70px;


}

.c4box2{
    height: 90%;
    width: 233px;
    margin-top: 70px;
    color: white;
}

div.c4box>div>img{
    height: 20px;
    margin-right: 10px;
}
div.c4box>div{
    color:white;
}

#simboloruotato{
    display: inline-block;
    transform: rotate(90deg);
}

i{
    margin: 20px 20px 20px 0px;
}

.violascuro{
    color: #7289DA;
}

div.c4box2>p{
    margin-bottom: 15px;
    
}

/* Footer */

footer{
    display: flex;
    height: 12vh;
    background-color: #23272A;
    align-items: center;
    justify-content: center;
}

.minibox{
    display: flex;
    height: 3rem;
    width: 1400px;
    justify-content: space-between;
    align-items: center; 
    border-top: 1px solid #7289DA;  
}

.logo2{
    margin-top: 40px; 
 
}   

div.bottonetext>span.roundbuttonbox{
    font-size: 15px;
}